@charset "UTF-8";

/* Update these variables to match your brand colors and styles */

:root {
    --bs-primary: #040C1F;
    --bs-primary-dark: #182445;
    --bs-foreground: #F8FAFC;
    --h2-color: #090909;
    --h2-top-margin: 0.5em;
    --logo-start-offset: 0;
    --logo-top-offset: 2em;
    --bs-font-sans-serif: "DM Sans";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

/* End of brand colors and styles */

.btn {
    background-color: var(--bs-primary);
    color: var(--bs-foreground);
    border: none;
    border-radius: 99px;
    padding: 0.8rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    vertical-align: middle;
    min-height: 40px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: var(--bs-foreground);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    border: 2px solid var(--bs-primary);
}

.btn-primary:hover {
    color: var(--bs-foreground);
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
}

.btn-primary:focus {
    color: var(--bs-foreground);
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
}

.btn:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--bs-primary);
}

.btn-primary:active, .btn-primary.active {
    color: var(--bs-foreground) !important;
    background-color: var(--bs-primary-dark) !important;
    border-color: var(--bs-primary-dark) !important;
    border: 2px solid var(--bs-primary);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25) !important;
}

.btn-primary.disabled {
    color: var(--bs-foreground);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.logo {
    margin-left: var(--logo-start-offset);
    margin-top: var(--logo-top-offset);
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    -webkit-text-size-adjust: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h2, .h2 {
    margin-top: var(--h2-top-margin);
    font-weight: 700;
    line-height: 1.25;
    color: var(--h2-color);
    font-size: calc(1.325rem + 0.9vw);
    margin-bottom: 1rem;
}

#appActions {
    margin-left: -1.25em;
}

#appActions > * {
    margin-left: 1.25rem;
    margin-bottom: 1em;
}
